body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: red;
}

.autoFull {
  width: 100%;
}

.nostatic{
  position: relative;
}

.centerBG {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.containBG {
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
  }

.eeFlexRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
.ecFlexRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.esFlexRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}
.ebFlexRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: space-between;
}
.eaFlexRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: space-around;
}
.ceFlexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.ccFlexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.csFlexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.cbFlexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
}
.caFlexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-around;
}
.seFlexRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
.scFlexRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.ssFlexRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.sbFlexRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: space-between;
}
.saFlexRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: space-around;
}
.beFlexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.bcFlexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.bsFlexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.bbFlexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
}
.baFlexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-around;
}
.aeFlexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}
.acFlexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.asFlexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.abFlexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-between;
}
.aaFlexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-around;
}
.eeFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.ecFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.esFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.ebFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: space-between;
}
.eaFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: space-around;
}
.ceFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.ccFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.csFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.cbFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}
.caFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
}
.seFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.scFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.ssFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.sbFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
}
.saFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-around;
}
.beFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.bcFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.bsFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.bbFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}
.baFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-around;
}
.aeFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}
.acFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.asFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.abFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-between;
}
.aaFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
}
html {
  font-size: 100px;//13vw
}
